<!-- Last Section -->
{% load static %}

<section class="footer">
    <div class="box-container">
        <div class="box">
            <h3>Locations</h3>
            <a href="#">Kisumu</a>
        </div>
        
        <div class="box">
            <h3>Contact Info</h3>
            <a href="tel:+25411222333">+254 11 222 333</a>
            <a href="mailto:Chicktopia@gmail.com">Chicktopia@gmail.com</a>
            <a href="#">Nyahera, Kisumu - 100100</a>
            <div class="image-container">
                <img src="{% static 'images/mpesa-logo.png' %}" alt="Mpesa Logo">
                <img src="{% static 'images/MC.png' %}" alt="MC Logo">
                <img src="{% static 'images/PP.jpg' %}" alt="PP Logo">
            </div>

        </div>
    </div>

    <p>© 2025 Chicktopia LTD</p>
</section>

</body>
</html>