{% extends 'base.html' %} {% load static %} {% block content %}

<!-- Navigation bar -->
{% include 'navbar.html' %}

<div class="main-broiler">
    <header style="display: flex; justify-content: flex-end;">
        <div class="box">
            <h1>Broilers</h1>
            <p>Fresh from Farm to Fork</p>
            <div class="line"></div>
        </div>
    </header>
</div>

<div class="order-section">
    <h2> Place your order here <a href="#" class="button">Book Now</a> </h2>  
</div>
    
<!-- about Broiler -->
 
<section class="about">
    <div class="row">
        <div class="col">
            <img src="{% static 'images/28.jpeg' %}" alt="Description" class="about-image">
        </div>

        <div class="col">
            <h4> Broilers</h4>
            <p> We take pride in providing the highest quality broilers, raised with care from farm to fork. Our broilers are sourced from reputable farms that prioritize animal welfare and sustainable practices. Each bird is nurtured in a healthy environment, ensuring optimal growth and well-being. We adhere to strict quality standards, guaranteeing that our broilers are not only delicious but also safe for consumption. Whether it's for a family meal or a large gathering, our fresh broilers are versatile and perfect for a variety of culinary creations. Discover the taste of quality with our broilers, and experience the difference that careful farming makes in every bite. </p>
        </div>
    </div>
</section>

<!-- Shopping Cart Panel -->

{% include 'cart.html' %}

<!--  Broiler products -->

<section class="broiler" id="broiler"> 
    <h2 class="heading">Broilers <span>Available</span></h2>
    <div class="product-content">
        
        <div class="box-container">
            <div class="row">

                {% for product in products %}
                    <div class="col-4">
                        <div class="product-item">
                            <img src="{{ product.photo.url }}" alt="{{ product.title }}">
                            <h3>{{ product.title }}</h3>
                            <p>{{ product.description }}</p>
                            <p>Price: Ksh {{ product.price }}</p>
                            <a href="#" class="btn" data-title="{{ product.title }}" data-price="{{ product.price }}">Buy Now</a>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>

    </div>

</section>

{% include 'footer.html' %}

<!-- Display form errors -->
{% if form.errors %}
    <div class="alert alert-danger">
        {% for field in form %}
            {% for error in field.errors %}
                <strong>{{ error|escape }}</strong>
            {% endfor %}
        {% endfor %}
    </div>
{% endif %}

{% endblock %}