{% extends 'base.html' %} {% load static %} {% block content %}

<!-- Navigation bar -->
{% include 'navbar.html' %}

<div class="main-feeds">
    <header style="display: flex; justify-content: flex-end;">
    </header>
</div>
        
    
<!-- Shopping Cart Panel -->
{% include 'cart.html' %}
     

<!-- Feed Types -->

<section class="products" id="products"> 
    <h2 class="heading">Chicken <span>Feed</span></h2>
    
    <div class="product-content">
        
        <div class="box-container">
            <div class="row">

                {% for product in products %}
                    <div class="col-4">
                        <div class="product-item">
                            <img src="{{ product.photo.url }}" alt="{{ product.title }}">
                            <h3>{{ product.title }}</h3>
                            <p>{{ product.description }}</p>
                            <p>Price: Ksh {{ product.price }}</p>
                            <a href="#" class="btn" data-title="{{ product.title }}" data-price="{{ product.price }}">Buy Now</a>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>

    </div>
</section>

{% include 'footer.html' %}
{% endblock %}