{% extends 'base.html' %} {% load static %} {% block content %}

<!-- Navigation bar -->
{% include 'navbar.html' %}

<div class="main-layers">
    <header style="display: flex; justify-content: flex-end;">
        <div class="box">
            <h1>Layers</h1>
            <p> Layers of Chicken, Layers of Happiness</p>
            <div class="line"></div>
        </div>
    </header>
</div>

<div class="order-section">
    <h2> Place your order here <a href="#" class="button">Book Now</a> </h2>
</div>

<!-- Shopping Cart Panel -->
{% include 'cart.html' %}

<!-- about Layers -->
 
<section class="about">
    <div class="row">
        <div class="col">
        <img src="{% static 'images/31.jpeg' %}" alt="Description" class="about-image">
        </div>

        <div class="col">
            <h4> Layers</h4>
            <p>Layer chickens play a vital role in poultry farming, especially in egg production. Understanding their needs and characteristics is essential for anyone interested in raising them for eggs.They can vary in color depending on the breed. </p>
            
        </div>
    </div>
</section>

<section class="products" id="products"> 
    <h2 class="heading">Layers <span>Available</span></h2>
    <div class="product-content">
        
        <div class="box-container">
            <div class="row">

                {% for product in products %}
                    <div class="col-4">
                        <div class="product-item">
                            <img src="{{ product.photo.url }}" alt="{{ product.title }}">
                            <h3>{{ product.title }}</h3>
                            <p>{{ product.description }}</p>
                            <p>Price: Ksh {{ product.price }}</p>
                            <a href="#" class="btn" data-title="{{ product.title }}" data-price="{{ product.price }}">Buy Now</a>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>

    </div>
</section>


{% include 'footer.html' %}
{% endblock %}