{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="product-list-container">
    <h1>Product List</h1>
    <div class="product-list">
        {% for product in products %}
            <div class="product-item">
                <img src="{{ product.photo.url }}" alt="{{ product.title }}" width="100">
                <h3>{{ product.title }}</h3>
                <p>Ksh {{ product.price }}</p>
                <a href="{% url 'product_detail' product.id %}" class="btn">View Details</a>
            </div>
        {% empty %}
            <p>No products available.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
